*{
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, a, p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
  background: #F5F4F4;
  height: 13%;
  width: 100%;
  display: flex;
  align-items: center;
}
.main--navbar{
  width: 100%;
}
.main--navbar a {
  text-decoration: none;
  color: #000;
}
.logo{
  align-items: center;
}

.nav-style{
  margin: auto;
}

.container{
  display: flex;
  height: 30%;
}
.artigo1{
  flex-grow: 4; 
  background: #A1ACB3;
}
.artigo2{
  flex-grow: 2; 
  background: #B3A1A1;
}